<a href="https://colab.research.google.com/github/kameoman/Bookers/blob/main/%E3%82%AF%E3%83%AD%E3%82%B9%E9%9B%86%E8%A8%88%E3%81%A8%E3%82%B0%E3%83%A9%E3%83%95%E5%8C%96.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from glob import glob

In [6]:
filepaths = glob('請求書*.xlsx')
filepaths

['請求書_12月_TTTInc.xlsx',
 '請求書_10月_TTTInc.xlsx',
 '請求書_11月_XYZ株式会社.xlsx',
 '請求書_12月_株式会社ABC.xlsx',
 '請求書_11月_ICHIGO.xlsx',
 '請求書_12月_CDF商事.xlsx',
 '請求書_12月_STR_Corp.xlsx']

In [7]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1,2,4,10,11,14]]
    df = _df.iloc[11:23, [1,2,4,10,11,14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2,0]
    df['企業コード'] = _df.iloc[3,4]
    df['請求書No'] = _df.iloc[2,12]
    df['発行日'] = _df.iloc[3,12]
    df['発行者'] = _df.iloc[4,12]
    df['発行者コード'] = _df.iloc[4,13]
    return df

In [8]:
df = pd.DataFrame()

for filepath in filepaths:
    df = pd.concat([df, extract(filepath)])

In [9]:
len(df)

84

In [11]:
df = df.dropna()
df.tail()

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
16  2020-12-28 00:00:00  CMT0002   洗車 B  ...  2020/12/28  桜田    5.0
17  2020-12-28 00:00:00  GDS0003   スナック  ...  2020/12/28  桜田    5.0
18  2020-12-28 00:00:00  CMT0005  タイヤ交換  ...  2020/12/28  桜田    5.0
19  2020-12-28 00:00:00  GDS0001    タイヤ  ...  2020/12/28  桜田    5.0

[5 rows x 12 columns]

In [13]:
df = df.reset_index(drop=True)

In [15]:
df = df.iloc[:, [6,7,8,9,10,11,0,1,2,3,4,5]]